<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.monmouth.fayePG"
    version="0.1.0">
    <name>FayePG</name>
    <description>Faye Phonegap Plugin for MTT app</description>
    <license>Apache 2.0</license>
    <keywords>cordova,faye</keywords>
    
    <js-module src="www/fayePG.js" name="FayePG">
        <clobbers target="FayePG" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FayePG">
                <param name="ios-package" value="FayePG" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/FayePG.h" />
        <source-file src="src/ios/FayePG.m" />
				<header-file src="src/ios/MZFayeClient.h" />
        <source-file src="src/ios/MZFayeClient.m" />
        <header-file src="src/ios/MZFayeMessage.h" />
        <source-file src="src/ios/MZFayeMessage.m" />
        <header-file src="src/ios/MF_Base64Additions.h" />
        <source-file src="src/ios/MF_Base64Additions.m" />
				<source-file src="src/ios/SRWebSocket.h" />
				<source-file src="src/ios/SRWebSocket.m" />
				<source-file src="src/ios/SocketRocket-Prefix.pch" />
	
    </platform>

</plugin>
